* {
    font-family: 'Arial Narrow Bold', sans-serif;
    margin: 0;
}


/* logo & upper banner */
#upper-banner {
    height: 100px;
    background-color: white;
}

#logo-text {
    margin-top: 25px;
    background-color: white;
    line-height: 50px;
    vertical-align: middle;
    display: inline-block;
    font-size: 40px;
}

#logo {
    margin-top: 25px;
    background-color: white;
    margin-left: 20px;
    height: 50px;
    vertical-align: middle;
}


body {
    background-color: #f2f2f2;
}

/* controls & to do lists */
nav {
    margin-top: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 50px;
    background-color: white;
}

button {
    border-radius: 5px;
    margin-top: 10px;
    height: 30px;
}

#button-task {
    color: white;
    margin-left: 50px;
    background-color: #47ADF1;
    border-color: #47ADF1;
}

#button-section {
    color: lightgray;
    background-color: white;
    border-color: lightgray;
}

/* task lists */
main {
    margin-top: 4px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 500px;
    background-color: white;
}

h3,
p {
    margin-left: 50px;
    margin-bottom: 16px;
}

h3 {
    background-color: white;
    padding-top: 20px;
    margin-bottom: 7px;
}

span {
    padding: 5px;
    font-size: 10px;
    color: white;
    background-color: #47ADF1;
    border-radius: 15px;
    padding: 5px;
}

.Goals {
    background-color: #9C72E4;
}

.Recruiting {
    background-color: #64C0A9;
}

.Mobile {
    background-color: #F29E33;
}

.Website {
    background-color: #D863A1;
}

.Sales {
    background-color: #B0C926;
}

.check {
    width: 15px;
}

.cross {
    width: 15px;
}